<div class="section bag-overview">
  <h2>My Bag <small>(4)</small></h2>
  <div class="items clearfix">
    <div class="item col-xs-6 col-sm-4">
      <div class="cart-item-img">
        <img src="https://aeo-o.scene7.com/is/image/aeo/0112_3166_841_f?maskuse=off&wid=300&hei=346&fit=crop&qlt=100,0" class="img-responsive clearfix" />
      </div>
      <div class="cart-item-details">
        <div class="details">
          <p class="size">28 X 30</p>
          <p class="color">Authentic Light</p>
          <p class="quantity">Qty 1</p>
        </div>
        <p class="price text-bold">$39.99</p>
      </div>
    </div>
    <div class="item col-xs-6 col-sm-4">
      <div class="cart-item-img">
        <img src="https://aeo-o.scene7.com/is/image/aeo/1165_6722_807_f?maskuse=off&wid=300&hei=346&fit=crop&qlt=100,0" class="img-responsive" />
      </div>
      <div class="cart-item-details">
        <div class="details">
          <p class="size">L</p>
          <p class="color">Orange Flare</p>
          <p class="quantity">Qty 1</p>
        </div>
        <p class="price text-bold">$24.95</p>
      </div>
    </div>
    <div class="item col-xs-6 col-sm-4">
      <div class="cart-item-img">
        <img src="https://aeo-o.scene7.com/is/image/aeo/1407_2104_013_f?maskuse=off&wid=300&hei=346&fit=crop&qlt=100,0" class="img-responsive" />
      </div>
      <div class="cart-item-details">
        <div class="details">
          <p class="size">One Size</p>
          <p class="color">Silver</p>
          <p class="quantity">Qty 1</p>
        </div>
        <p class="price text-bold">$39.95</p>
      </div>
    </div>
    <div class="item col-xs-6 col-sm-4">
      <div class="cart-item-img">
        <img src="https://aeo-o.scene7.com/is/image/aeo/0302_1968_609_f?maskuse=off&wid=300&hei=346&fit=crop&qlt=100,0" class="img-responsive" />
      </div>
      <div class="cart-item-details">
        <div class="details">
          <p class="size">M</p>
          <p class="color">Pink Boom</p>
          <p class="quantity">Qty 1</p>
        </div>
        <p class="price text-bold">$9.99</p>
      </div>
    </div>
  </div>
  <p class="edit-bag"><a>{{glyph-icon set='aeo' type='edit'}}Edit Bag</a></p>
</div>
