<div class="homepage-grid row clearfix">
  <div class="grid-item grid-item1 col-xs-12 col-sm-6 col-md-3">
    <div class="element-label">
      <div class="inner">Grid Item 1</div>
    </div>
  </div>
  <div class="grid-item grid-item2 col-xs-12 col-sm-6 col-md-3">
    <div class="element-label">
      <div class="inner">Grid Item 2</div>
    </div>
  </div>
  <div class="grid-item grid-item3 col-xs-12 col-sm-6 col-md-3">
    <div class="element-label">
      <div class="inner">Grid Item 3</div>
    </div>
  </div>
  <div class="grid-item grid-item4 col-xs-12 col-sm-6 col-md-3">
    <div class="element-label">
      <div class="inner">Grid Item 4</div>
    </div>
  </div>
</div>
