<div class="homepage-feature">
  <div class="element-label">
    <div class="inner">Hero Image</div>
  </div>
</div>

<div id="homepage-slideshow" class="homepage-slideshow carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homepage-slideshow" data-slide-to="0" class="active"></li>
    <li data-target="#homepage-slideshow" data-slide-to="1"></li>
    <li data-target="#homepage-slideshow" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item1 item active">
      <div class="element-label">
        <div class="inner">Slide 1</div>
      </div>
    </div>
    <div class="item2 item">
      <div class="element-label">
        <div class="inner">Slide 2</div>
      </div>
    </div>
    <div class="item3 item">
      <div class="element-label">
        <div class="inner">Slide 3</div>
      </div>
    </div>
  </div>
  
</div>
