<ul class="nav nav-pills nav-justified" role="tablist">
  <li>
    {{#link-to 'cart'}}Women{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Men{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Jeans{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Aerie{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Gifts{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Clearance{{/link-to}}
  </li>
  <li>
    {{#link-to 'cart'}}Factory{{/link-to}}
  </li>
</ul>